name: CI
on: 
    push:
        branches:
            - '*'
jobs: 
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: "shivammathur/setup-php@v2"
              with:
                php-version: "8.3"
            - uses: "ramsey/composer-install@v2"
            - name: docker compose build
              run: docker compose build
            - name: docker compose run tests
              run: docker compose exec php php vendor/bin/phpunit
